#laps-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#buttons {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

#btn-play {
  padding: 5px;
  color: white;
  background-color: blue;
  border: none;
}


#btn-lap {
  color: white;
  background-color: rgb(74, 6, 158);
  border: none;
}

#btn-clear {
  color: white;
  background-color: red;
  border: none;
}

#laps {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: max-content;
}

h1 {
  position: relative;
  margin: 0;
  padding: 0%;
}

h2 {
  margin: 0.5%;
}

.App {
  padding: 3%;
  padding-top: 1.5%;
  text-align: center;
  background-color: rgb(245, 244, 244);
  width: max-content;
  margin: auto;
  margin-top: 3%;
  align-items: center;
}